@tailwind base;
@tailwind components;

.body {
    background-image: url(./images/login-bg.png);
    background-size: cover;

}

.input {
    @apply mb-4 pl-11 focus:border-[#9a17eb6c] focus:outline-none focus:ring-1 placeholder:text-white w-80 h-12 bg-inherit border-solid border-2 border-white rounded-2xl
}

.btn {
    @apply font-medium text-[#9917eb] bg-white mb-2 pr-11 active:bg-[#570095]
}

.text {
    @apply text-[#9917eb]
}

.heading {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@tailwind utilities;